{% extends "base.html" %}



{% block content %}

<form action="{{ url_for('dash.app1_template') }}" method="POST">
  <input class="form-control" name = 'url' type="text">
  <input class="form-control" name = 'n' type="text">

 <div class="form-check">
  <input class="form-check-input" type="checkbox"name='replice'  value="replice" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Включить ответы на комментарии
  </label>
</div>

<button type="submit" class="btn btn-primary">Sign in</button>

</form>

<iframe 
  noresize='noresize' 
  style='' 
  src={{ dash_url }}
  frameborder="0">
</iframe>

<form  method="GET">

  <div class="container">
    <div class="row justify-content-center align-items-center mt-3 col-11">
      <div class="form-group "> 
        <label class="text-dark mr-3">Шаблон</label>
        <input class="form-control " type="text" name="q" value="{{ request.args.get('q', '') }}"> 

      </div>

    </div>
  </div>

</form>
<div class="container-fluid ">
  <div class="container col-8">
    <h5>Найдено результатов:{{total}}</h5>
    <a class="btn btn-primary " href="{{ url_for('dash.reset_comments') }}" role="button">Link</a>
    <div class="row text-center ">
    {%for comment in comments%}
        <div class="card mb-3 ml-2 mt-5 bg-light text-dark" style="width: 500px">
          <div class="col">
            <div class="card-body" >
              <img  src={{comment.authorProfileImageUrl}} alt="Card image cap">
              <h5 class="card-title">{{comment.userName}}</h5>
              <p class="card-text">{{comment.text}}</p>
              <p class="card-text">TДата: {{comment.datePublish}}</p>
              <p class="card-text">Лайки: {{comment.likeCount}}</p>

            </div>
          </div>
        </div>
      {%endfor%}
    </div> 
  </div>
</div>
</div>
{% endblock content %}

